
<h2>Product Name: <%= @product.name %></h2>
<br>
<h3>Category: <%= @product.category %></h3>
<h3>Countries of use: <%= @product.countries_of_use %></h3>
<h3>Active Ingredients: <%= @product.active_ingredients %></h3>
<h3>Product Application: <%= @product.product_application %></h3>

<h2>Company: <%= @company.name  %></h2>

<form  action="/products/<%= @product.slug %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Product">
</form>
